<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/logInUser.css')}}" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('static', filename= './index.html')}}"
          ><img  src="{{ url_for('static', filename= './assets/logo.png')}}"  id="logo" alt="logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./index.html"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./search.html">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
            </li>
          </ul>
          
        </div>
      </nav>

      <!-- main -->
      <section class="main dark">
        <!-- rightcontent -->
        <section class="main">
          <div class="content">
            <form class="form-inline my-2 my-lg-0 username">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                  <input type="text" class="form-control" placeholder="Twitter username" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <div class="input-group-append">
                      <button class="btn blue-btn">Analyze</button>
                  </div>
                </div>
            </form>
          <!-- profile -->
            <div class="row">
              <div class="col-sm-12">
                <div class="card profile-details">
                  <div class="card-body">
                    <div class="profile">
                      <div class="flex">
                        <img  src="{{ url_for('static', filename= './assets/dp.svg')}}" alt="dp" />
                        <div class="name">
                          <h1 class="bold-text">Favor Stone</h1>
                          <p class="light-text">@fav99</p>
                        </div>
                      </div> 
                      <p class="bold-text">
                        Coca-Cola only sold 25 bottles the first year but kept going. Never give up.
                      </p>
                      <hr class="hr mtb" />

                      <div class="follower flex wrap">
                        <a href="" class="flex follow">
                          <h1 class="bold-text">5,1432</h1>
                          <p class="light-text pr">tweets</p>
                        </a>
                        <a href="" class="flex follow">
                          <h1 class="bold-text">532</h1>
                          <p class="light-text pr">Retweets</p>
                        </a>
                        <a href="" class="flex follow">
                          <h1 class="bold-text">3333</h1>
                          <p class="light-text pr">following</p>
                        </a>
                        <a href="" class="flex follow">
                          <h1 class="bold-text">45</h1>
                          <p class="light-text pr">followers</p>
                        </a>
                        <a href="" class="flex follow">
                          <h1 class="bold-text">405</h1>
                          <p class="light-text pr">likes</p>
                        </a>
                      </div>
                      <hr class="hr mtb" />

                      <div class="more-details row">
                        
                          <div class="flex date-joined">
                            <img src="{{ url_for('static', filename= './assets/datePickerIcon.svg')}}"  alt="date-joined">
                            <p class="grey">2008-01-08, 15:18 (over 12 years ago)</p>
                          </div>
                          <div class="flex id">
                            <img  src="{{ url_for('static', filename= './assets/datePickerIcon.svg')}}" alt="id">
                            <p class="grey">11985982</p>
                          </div>
                          
                            <div class="flex bio-url">
                              <img  src="{{ url_for('static', filename= './assets/datePickerIcon.svg')}}" alt=" bio-url">
                              <a href="" class="grey">https://tweetapp.netlify.app/</a>
                            </div>
                            <div class="flex location">
                              <img  src="{{ url_for('static', filename= './assets/datePickerIcon.svg')}}" alt="location">
                              <p class="grey">Altenbeken, Germany</p>
                            </div>
                        </div>

                        

                    </div>
                  </div>
                </div>
              </div>
          </div>

          <!-- latest-tweet --> 
          <!-- <div class="col-sm-12 latest-tweets ">
           
        </div> -->
        <div class="row latest-tweets">
          <div class="col-sm-12">
            <div class="card latest-tweet">
              <!-- <h1 class="bold-text">Last 12 tweets</h1> -->
              <span class="badge badge-secondary">Last 8 tweets</span>
              <div class="row">
                <div class="col-sm-12 ">
                  <div class="card cadet-bg profile-details">
                    <div class="flex"><a href="" class="bold-text link1">Favor Stone</a>
                      <a href="" class="light-text link2 ">@fav99 · 2019-08-22, 20:44</a>
                    </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span">It seems so, yes. And Twitter wrote that the majority of the a…</span>
                        <a href="" class="grey link"> https://t.co/vWz4qAmV1j</a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-12 ">
                  <div class="card orange-bg profile-details">
                    <div class="flex"><a href="" class="bold-text link1">Favor Stone</a>
                      <a href="" class="light-text link2 ">@fav99 · 2019-08-22, 20:44</a>
                    </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span">It seems so, yes. And Twitter wrote that the majority of the a…</span>
                        <a href="" class="grey link"> https://t.co/vWz4qAmV1j</a>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12 ">
                  <div class="card green-bg profile-details">
                    <div class="flex"><a href="" class="bold-text link1">Favor Stone</a>
                      <a href="" class="light-text link2 ">@fav99 · 2019-08-22, 20:44</a>
                    </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span">It seems so, yes. And Twitter wrote that the majority of the a…</span>
                        <a href="" class="grey link"> https://t.co/vWz4qAmV1j</a>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12 ">
                  <div class="card dark-bg profile-details">
                    <div class="flex"><a href="" class="bold-text link1">Favor Stone</a>
                      <a href="" class="light-text link2 ">@fav99 · 2019-08-22, 20:44</a>
                    </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span">It seems so, yes. And Twitter wrote that the majority of the a…</span>
                        <a href="" class="grey link"> https://t.co/vWz4qAmV1j</a>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12 ">
                  <div class="card cadet-bg profile-details">
                    <div class="flex"><a href="" class="bold-text link1">Favor Stone</a>
                      <a href="" class="light-text link2 ">@fav99 · 2019-08-22, 20:44</a>
                    </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span">It seems so, yes. And Twitter wrote that the majority of the a…</span>
                        <a href="" class="grey link"> https://t.co/vWz4qAmV1j</a>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12 ">
                  <div class="card orange-bg profile-details">
                    <div class="flex"><a href="" class="bold-text link1">Favor Stone</a>
                      <a href="" class="light-text link2 ">@fav99 · 2019-08-22, 20:44</a>
                    </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span">It seems so, yes. And Twitter wrote that the majority of the a…</span>
                        <a href="" class="grey link"> https://t.co/vWz4qAmV1j</a>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12 ">
                  <div class="card green-bg profile-details">
                    <div class="flex"><a href="" class="bold-text link1">Favor Stone</a>
                      <a href="" class="light-text link2 ">@fav99 · 2019-08-22, 20:44</a>
                    </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span">It seems so, yes. And Twitter wrote that the majority of the a…</span>
                        <a href="" class="grey link"> https://t.co/vWz4qAmV1j</a>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12 ">
                  <div class="card dark-bg profile-details">
                    <div class="flex"><a href="" class="bold-text link1">Favor Stone</a>
                      <a href="" class="light-text link2 ">@fav99 · 2019-08-22, 20:44</a>
                    </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span">It seems so, yes. And Twitter wrote that the majority of the a…</span>
                        <a href="" class="grey link"> https://t.co/vWz4qAmV1j</a>
                      </div>
                  </div>
                </div>
                <div class="load flex">
              <a href="" class="trend-link">
                <button class="more">Load more</button>
              </a>
            </div>
              </div>
            </div>
          </div>
      </div>

      <!-- graphs -->
      <hr class="hr">
      <!-- daily rhythm -->
      <div class="row my_dataviz">
        <h3>Daily Rhythm</h3>
        <div id="my_dataviz" class="col-sm-12">
        
        </div>
      </div>
      <hr class="hr">
      
        </section>
      </section>
    </div>
    <button onclick="topFunction()" id="goTop" title="Go to top"><img src="./assets/arrow-down.svg" alt=""></button>

 <!-- myjs -->
 <script src="./js/main.js"></script>

<!-- d3js -->
<script src="https://d3js.org/d3.v4.js"></script>
<!-- Load color palettes -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="./js/graph.js"></script>


    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
