<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/logInUser.css')}}" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="./index.html"
          ><img src="{{ url_for('static', filename= './assets/logo.png')}}" id="logo" alt="logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="./index.html">Home </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href=""
                >Search <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- main -->
      <section class="main dark">
        
       
        <!-- rightcontent -->
        <section class="main">
          <!-- searched-tweet -->
          <form class="form-inline my-2 my-lg-0 search">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search for tweet"
                aria-label="Search for tweet"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button class="btn blue-btn">Search</button>
              </div>
            </div>
          </form>
          <div class="row latest-tweets">
            <div class="col-sm-12">
              <div class="card latest-tweet">
                <!-- <h1 class="bold-text">Last 12 tweets</h1> -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card cadet-bg profile-details small-font">
                      <div class="">
                        <a href="" class="bold-text link1">Favor Stone</a>
                        <a href="" class="light-text link2"
                          >@Favor123 · 2019-08-22, 20:44</a
                        >
                      </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span"
                          >It seems so, yes. And Twitter wrote that the majority
                          of the a…</span
                        >
                        <a href="" class="grey link">
                          https://t.co/vWz4qAmV1j</a
                        >
                      </div>
                      <div class="full flex">
                        <a href="" class="trend-link">
                          <button class="more">Show full tweet</button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card orange-bg profile-details small-font">
                      <div class="">
                        <a href="" class="bold-text link1">Favor Stone</a>
                        <a href="" class="light-text link2"
                          >@Favor123 · 2019-08-22, 20:44</a
                        >
                      </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span"
                          >It seems so, yes. And Twitter wrote that the majority
                          of the a…</span
                        >
                        <a href="" class="grey link">
                          https://t.co/vWz4qAmV1j</a
                        >
                      </div>
                      <div class="full flex">
                        <a href="" class="trend-link">
                          <button class="more">Show full tweet</button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card green-bg profile-details small-font">
                      <div class="">
                        <a href="" class="bold-text link1">Favor Stone</a>
                        <a href="" class="light-text link2"
                          >@Favor123 · 2019-08-22, 20:44</a
                        >
                      </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span"
                          >It seems so, yes. And Twitter wrote that the majority
                          of the a…</span
                        >
                        <a href="" class="grey link">
                          https://t.co/vWz4qAmV1j</a
                        >
                      </div>
                      <div class="full flex">
                        <a href="" class="trend-link">
                          <button class="more">Show full tweet</button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card dark-bg profile-details small-font">
                      <div class="">
                        <a href="" class="bold-text link1">Favor Stone</a>
                        <a href="" class="light-text link2"
                          >@fav99 · 2019-08-22, 20:44</a
                        >
                      </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span"
                          >It seems so, yes. And Twitter wrote that the majority
                          of the a…</span
                        >
                        <a href="" class="grey link">
                          https://t.co/vWz4qAmV1j</a
                        >
                      </div>
                      <div class="full flex">
                        <a href="" class="trend-link">
                          <button class="more">Show full tweet</button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card cadet-bg profile-details small-font">
                      <div class="">
                        <a href="" class="bold-text link1">John Stone</a>
                        <a href="" class="light-text link2"
                          >@fav99 · 2019-08-22, 20:44</a
                        >
                      </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span"
                          >It seems so, yes. And Twitter wrote that the majority
                          of the a…</span
                        >
                        <a href="" class="grey link">
                          https://t.co/vWz4qAmV1j</a
                        >
                      </div>
                      <div class="full flex">
                        <a href="" class="trend-link">
                          <button class="more">Show full tweet</button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card orange-bg profile-details small-font">
                      <div class="">
                        <a href="" class="bold-text link1">John Stone</a>
                        <a href="" class="light-text link2"
                          >@fav99 · 2019-08-22, 20:44</a
                        >
                      </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span"
                          >It seems so, yes. And Twitter wrote that the majority
                          of the a…</span
                        >
                        <a href="" class="grey link">
                          https://t.co/vWz4qAmV1j</a
                        >
                      </div>
                      <div class="full flex">
                        <a href="" class="trend-link">
                          <button class="more">Show full tweet</button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card green-bg profile-details small-font">
                      <div class="">
                        <a href="" class="bold-text link1">John Stone</a>
                        <a href="" class="light-text link2"
                          >@fav99 · 2019-08-22, 20:44</a
                        >
                      </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span"
                          >It seems so, yes. And Twitter wrote that the majority
                          of the a…</span
                        >
                        <a href="" class="grey link">
                          https://t.co/vWz4qAmV1j</a
                        >
                      </div>
                      <div class="full flex">
                        <a href="" class="trend-link">
                          <button class="more">Show full tweet</button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card dark-bg profile-details small-font">
                      <div class="">
                        <a href="" class="bold-text link1">John Stone</a>
                        <a href="" class="light-text link2"
                          >@fav99 · 2019-08-22, 20:44</a
                        >
                      </div>
                      <div class="">
                        <a href="" class="grey link"> @evaristegal0is</a>
                        <a href="" class="grey link"> @3r1nG</a>
                        <a href="" class="grey link"> @TechPoliticist</a>
                        <span class="tweet-span"
                          >It seems so, yes. And Twitter wrote that the majority
                          of the a…</span
                        >
                        <a href="" class="grey link">
                          https://t.co/vWz4qAmV1j</a
                        >
                      </div>
                      <div class="full flex">
                        <a href="" class="trend-link">
                          <button class="more">Show full tweet</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <button onclick="topFunction()" id="goTop" title="Go to top"><img src="./assets/arrow-down.svg" alt=""></button>

    <!-- myjs -->
<script src="./js/main.js"></script>


    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
