<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
        <script>
            const urls = {
                model: 'https://storage.googleapis.com/tfjs-models/tfjs/sentiment_cnn_v1/model.json',
                metadata: 'https://storage.googleapis.com/tfjs-models/tfjs/sentiment_cnn_v1/metadata.json'
            };
             
            async function loadModel(url) {
                try {
                    const model = await tf.loadLayersModel(url);
                    return model;
                } catch (err) {
                    console.log(err);
                }
            }
             
            async function loadMetadata(url) {
                try {
                    const metadataJson = await fetch(url);
                    const metadata = await metadataJson.json();
                    return metadata;
                } catch (err) {
                    console.log(err);
                }
            }
        </script>

    </head>

    <body>

    </body>
</html>